# Virtual Environment
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Local Environment Configs
.env

# Media Uploads
media/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# MS Office Temporary Files
~$*
~*

